@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie List";
}
@model IEnumerable<Assignment3.Models.ApplicationResponse>
<div>

    <h2>Here are the movies currently in the directory: </h2>
    <table class="center table text-center table-striped table-bordered">
        <thead>
            <tr><th>Title</th><th>Category</th><th>Year</th><th>Director</th><th>Rating</th><th>Edited</th><th>Lent</th><th>Notes</th></tr>
        </thead>

        <tbody>

            @foreach (Assignment3.Models.ApplicationResponse x in Model)
            {
                <!-- See the MyMovieSummary file for the partial view-->
                <partial name="SharedMoviesList" model="x" />
            }


        </tbody>
    </table>

</div>