@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*page that pulls up when they try to submit independence day, or edit a movie to have that title*@
<div>
    <h2>We are sorry, the movie "Independence Day" does not fit the standards to be added to the list.</h2>
</div>
<div>
    Click<a asp-action="MoviesList"> here</a> to see the full list.
</div>